@import "./variables";
@import "./resets";

html, body {
  scroll-behavior: smooth;
}
body {
  color: $text;
  background: #F9F8F8;

  a {
    color: $link;
    font-weight: bold;
  }
  nav {
    ul {
      li {
        a {
          padding-bottom: 0.25rem;
          // &:hover,
          // &:active {
          //   border-bottom: 3px solid $light-link-hover;
          // }
        }
      }
    }
  }
  blockquote {
    border-left: 0.3rem solid $light-link-hover;
  }

  .subtitle {
    margin-top: 0;
    font-size: 1rem;
    color: $dim-text;
  }

  .mission {
    color: $muted-text;
  }

  .vertical-div {
    border-left: 2px solid $link;
    margin: 0 0.75rem;
  }

  .social-divider {
    border-left: 3px solid $link;
    height: .75rem;
    margin-top: .5rem;
  }

  .engagement-type {
    border-bottom: 2px dotted $text;
  }

  .tag {
    background: lighten($link, 60);
    padding: .25em;
    margin-right: .25rem;
    &:hover {
      background: lighten($link, 62);
    }
  }

  .engagementing-box {
    border-top: 1px solid $link; 
    border-bottom: 1px solid $link; 
    background: lighten($link, 60);
    padding: 1rem;
  }

  .engagementing-item {
    border-bottom: 1.5px dotted $text;
  }
}


// Grid setup
.wrapper {
  display: grid;
  gap: 60px;
  max-width: 1400px;
  grid-template-areas:
    "article"
    "sidebar";

    nav div ul.nav-list {
      display: flex;
      justify-content: space-between;
    }
  }

.side {
  grid-area: sidebar;
}

.content {
  grid-area: article;
}


a:hover,
a:active {
  color: $light-link-hover;
  text-decoration: underline;
}

  
@media (max-width: 499px) {
  nav div ul.nav-list,
  nav div ul.social-list,
  nav div ul.article-meta-list {
    display: flex;
    max-width: 250px;
    justify-content: space-between;
  }
  nav div ul.article-meta-list {
    order: -1;
  }
  .wrapper nav div ul.nav-list {
    margin-top: 0;
  }
  .wrapper {
    grid-gap: 0;
  }
  .article-contents {
    float: none;
  }
  section {
    clear: both;
  }

  div.engagementing-box {
    display: block;
  }
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "sidebar article";
  }
}
