//  light
$link: #8F2D56;
$light-link-hover: #8F2D56;
$text: #000;
$muted-text: #575859;
$dim-text: #6c6d6d;


// Dark theme
$dark-background: #2d2e2f;
$dark-text: #D3D2CF;
$dark-dim-text: #949391;

$dark-blockquote-bg: #4B4E6D;
$dark-blockquote-alt: #575859;
$dark-muted-text: #BEBDBA;

$dark-code-bg: #424344;
$dark-code-text: #D3D2CF; 

$accent: #8F2D56;
$alt-text: #EDD4B2;